{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}
    <h1>HomePage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ home_page.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ home_page.title }}</td>
            </tr>
            <tr>
                <th>WelcomeText</th>
                <td>{{ home_page.welcomeText }}</td>
            </tr>
            <tr>
                <th>AboutTitle</th>
                <td>{{ home_page.aboutTitle }}</td>
            </tr>
            <tr>
                <th>AboutText</th>
                <td>{{ home_page.aboutText }}</td>
            </tr>
            <tr>
                <th>ServicesTitle</th>
                <td>{{ home_page.servicesTitle }}</td>
            </tr>
            <tr>
                <th>ServicesText</th>
                <td>{{ home_page.servicesText }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_home_page_index') }}">back to list</a>

    <a href="{{ path('app_home_page_edit', {'id': home_page.id}) }}">edit</a>

    {{ include('home_page/_delete_form.html.twig') }}
{% endblock %}
