<footer class="footer">
	<img class="footer__logo" src="{{asset('build/images/logo_nutrisain.png')}}" alt="Logo de Nutrisain.">
	<div class="">
		<div class="footer__container">
			<section class="footer__contact">
				<p class="footer__contact--title">Informations</p>
				<ul>
					<li>
						<a class="footer__contact--links" href="{{ path('app_home_page_index')}}">Accueil</a>
					</li>
					<li>
						<a class="footer__contact--links" href="{{ path('app_contact_index')}}">Contact</a>
					</li>
				</ul>
			</section>
			<section class="footer__legals">
				<p class="footer__legals--title">Informations légales</p>
				<ul>
					<li>
						<a class="footer__legals--links" href="{{path('app_legal_notice')}}">Mentions légales</a>
					</li>
					<li>
						<a class="footer__legals--links" href="{{path('app_privacy_policy')}}">Politque de confidentialité</a>
					</li>
					<li>
						<a class="footer__legals--links" href="{{path('app_terms_of_use')}}">Conditions générales d'utilisation</a>
					</li>
				</ul>
			</section>
		</div>
		<p class="footer__copyright">© Copyright 2023. Tous droits réservés Nutrisain.</p>
	</div>
</footer>
