{% extends 'base.html.twig' %}

{% block title %}Nutrisain - Contact{% endblock %}

{% block body %}
{% for contact in contacts %}
    <section class="contact-page-welcome flux">
        <h1 class="contact-page-welcome__title">{{contact.pageTitle}}</h1>
        <p class="contact-page-welcome__text">{{contact.pageText}}</p>
    </section>

    <section class="contact-page-informations flux">
        <p class="contact-page-informations__text">{{contact.phoneNumber}}</p>
        <p class="contact-page-informations__text">{{contact.adress}}</p>
        <p class="contact-page-informations__text">{{contact.email}}</p>
    </section>

    <section class="contact-page-modification flux">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_contact_edit', {'id': contact.id}) }}" class='underline'>Modifier les informations</a>
        {% endif %}
    </section>
{% endfor %}
{% endblock %}
