	<section class="recipes flux">
		{% if is_granted('ROLE_ADMIN') %}
			<div class='new-recipe'>
				<a href="{{ path('app_recipes_new') }}" class='underline'>Ajouter une recette</a>
			</div>
		{% endif %}
		<ul class="recipes__list flex-center">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{% for recipe in allRecipes %}
					<li class="card-recipe recipe-flux flex-center">
						<div class='card-recipe__composition flex-center'>
							<img class="recipe__image" src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt={{recipe.title}} width=100px height=100px>
							<div class="recipe__description flex-center">
								<p class="recipe__description--title">{{recipe.title}}</p>
								<p class="recipe__description--details">{{recipe.description}}</p>
							</div>
						</div>
						<div class='card-recipe__more'>
							<div class='favoris'>
								{% if is_granted('ROLE_USER') %}
									{% set isFavorite = false %}
									{% for favoris in recipe.favoris %}
										{% if favoris.id == app.user.id %}
											{% set isFavorite = true %}
										{% endif %}
									{% endfor %}
									{% if isFavorite %}
										<div class='js_favorite_recipe favoris__container' data-user-id="{{ app.user.id }}" data-recipe-id="{{ recipe.id }}" data-action="remove">
											<i class="fa-sharp fa-solid fa-heart"></i>
										</div>
									{% else %}
										<div class='js_favorite_recipe favoris__container' data-user-id="{{ app.user.id }}" data-recipe-id="{{ recipe.id }}" data-action="add">
											<i class="fa-sharp fa-regular fa-heart"></i>
										</div>
									{% endif %}
								{% endif %}
							</div>
							{% if recipe.opinion is not empty %}
								<div class='opinion flex-center'>
									<p class='js_show_comments_recipe opinion__show-comment underline'>Voir les commentaires</p>
									<div class='opinion__container js_comments_recipe flex-center hide'>
										{% for opinion in recipe.opinion %}
											<div class='opinion__details'>
												<p class='opinion__details--username'>{{ opinion.userFirstname }} {{ opinion.userName }} : </p>
												<p class='opinion__details--comment'>{{ opinion.comment }}</p>
											</div>
										{% endfor %}
									</div>
								</div>
							{% endif %}
							<p class='js_comment_recipe_button opinion__add-new-comment underline'>Commenter</p>
						</div>
						<form class="js_comment_form hide opinion__form flex-center" data-recipe-id="{{ recipe.id }}" data-user-id="{{ app.user.id }}" data-user-name="{{ app.user.name }}" data-user-firstname="{{ app.user.firstname }}">
							<input type="text" name="comment" class='opinion__form--text-input' label='Veuillez ajouter votre commentaire ici'>
							<input type="submit" value="Envoyer" class="js_submit_comment_recipe opinion__form--submit-input">
						</form>
						<a href="{{ path('app_recipes_show', {'id': recipe.id})}}" class='link-to-show-recipe underline'>Voir la recette</a>
						{% if is_granted('ROLE_ADMIN') %}
							<div class='recipe__modification flex-center'>
								<a href="{{ path('app_recipes_edit', {'id': recipe.id}) }}" class='recipe__modification--modifier underline'>Modifier</a>
								<a href="{{ path('app_recipes_delete', {'id': recipe.id}) }}" class='recipe__modification--delete underline'>Supprimer</a>
							</div>
						{% endif %}
					</li>
				{% endfor %}
			{% else %}
					{% for recipe in recipes | filter(recipe => recipe.isPublic == true)%}
						<li class="card-recipe recipe-flux flex-center">
							<div class='card-recipe__composition flex-center'>
								<img class="recipe__image" src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt={{recipe.title}} width=100px height=100px>
								<div class="recipe__description flex-center">
									<p class="recipe__description--title">{{recipe.title}}</p>
									<p class="recipe__description--details">{{recipe.description}}</p>
								</div>
							</div>
							<div class='opinion opinion-no-user flex-center'>
								<p class='js_show_comments_recipe opinion__show-comment underline'>Voir les commentaires</p>
								<div class='opinion__container js_comments_recipe flex-center hide'>
									{% for opinion in recipe.opinion %}
										<div class='opinion__details'>
											<p class='opinion__details--username'>{{ opinion.userFirstname }} {{ opinion.userName }} : </p>
											<p class='opinion__details--comment'>{{ opinion.comment }}</p>
										</div>
									{% endfor %}
								</div>
							</div>
							<a href="{{ path('app_recipes_show', {'id': recipe.id})}}" class='link-to-show-recipe underline'>Voir la recette</a>
						</li>
					{% endfor %}
			{% endif %}
		</ul>
	</section>

{# Variables personnalisées #}

{# Récupère tous les paramètres de notre url #}
{% set queryParams = app.request.query.all %}

{# Récupère les paramètres de notre url sauf le paramètre page #}
{% set queryFilters = queryParams|filter((v, k) => k is not same as ('page') and k is not same as ('ajax'))|url_encode %}

	<section class='paging'>
		{# Permet de récupérer le nombre de pages total.
		Le filtre twig round avec ceil permet de récupérer l'entier supérieur,
		0 correspondant au nombre de chiffre après la virgule #}
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			{% set pages = ((totalForAllRecipes / limit)|round(0, 'ceil')) %}
		{% else %}
			{% set pages = ((total / limit)|round(0, 'ceil')) %}
		{% endif %}
		<ul class='paging__list flex-center'>
			<li class='paging__list--first-page'>
				<a href="{{path('app_recipes_index', {'page': 1}) }}&{{queryFilters}}">Première page</a>
			</li>
			<li class='{{ (page == 1) ? 'disabled' : ''}} paging__list--previous-page'>
				<a href="{{ (page > 1) ? path('app_recipes_index', {'page': page - 1}) : '' }}&{{queryFilters}}">Page précédente</a>
			</li>
			<div class='flex-center'>
				{% for item in 1..pages %}
					<li class='{{ (page == item) ? 'active' : ''}} paging__list--item paging-recipes-flux'>
						<a href="{{ path('app_recipes_index', {'page': item}) }}&{{queryFilters}}">{{ item }}</a>
					</li>
				{% endfor %}
			</div>
			<li class='{{ (page == pages) ? 'disabled' : ''}} paging__list--next-page'>
				<a href="{{ (page < pages) ? path('app_recipes_index', {'page': page + 1}) : '' }}&{{queryFilters}}">Page suivante</a>
			</li>
			<li class='paging__list--last-page'>
				<a href="{{path('app_recipes_index', {'page': pages}) }}&{{queryFilters}}">Dernière page</a>
			</li>
		</ul>
	</section>