{% extends 'base.html.twig' %}

{% block title %}Recipes index{% endblock %}

{% block body %}

{# Variable personnalisée qui permet de récupère tous les paramètres de notre url #}
{% set queryParams = app.request.query.all %}

	<section class='filters'>
		<p>Filtrer les recettes</p>
		<form id='filters_form'>
			{% for category in categories %}
			{# Permet de vérifier s'il y a une catégorie dans les paramètres de l'url, et si oui alors la case correspndante est cochée #}
				{% if queryParams is not empty and queryParams.categories is defined %}
					{% set checked = (category.id in queryParams.categories) ? 'checked' : '' %}
				{% else %}
					{% set checked = "" %}
				{% endif %}
				<input type='checkbox' name='categories[]' value='{{category.id}}' id='category{{category.id}}' {{checked}} class='filters__checkbox'>
				<label for='category{{category.id}}' class='filters__label'>{{category.name}}</label>
			{% endfor %}
			{% for diet in diets %}
				{% if queryParams is not empty and queryParams.diets is defined %}
					{% set checked = (diet.id in queryParams.diets) ? 'checked' : '' %}
				{% else %}
					{% set checked = "" %}
				{% endif %}
				<input type='checkbox' name='diets[]' value='{{diet.id}}' id='diet{{diet.id}}' {{checked}} class='filters__checkbox'>
				<label for='diet{{diet.id}}' class='filters__label'>{{diet.name}}</label>
			{% endfor %}
            <input type="hidden" name='page' value='{{page}}'>
		</form>
	</section>
	<section id='filtered_recipes'>
		{% include 'recipes/_recipes.html.twig'%}
	</section>
{% endblock %}
