{% extends 'base.html.twig' %}

{% block title %}Nutrisain - Recette {{ recipe.title }}{% endblock %}

{% block body %}
    <main class='show-recipe flex-center card-flux'>
        <img class='show-recipe__image' src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt="{{ recipe.title }}">
        <h1 class='show-recipe__title'>{{ recipe.title }}</h1>
        <p class='show-recipe__description'>{{ recipe.description }}</p>
        <ul class='show-recipe__times flex-center'>
            <li class='show-recipe__times--preparationTime'>Temps de préparation : {{ recipe.preparationTime }}</li>
            <li class='show-recipe__times--preparationStandingTime'>Temps de repos : {{ recipe.preparationStandingTime }}</li>
            <li class='show-recipe__times--cookingTime'>Temps de cuisson : {{ recipe.cookingTime }}</li>
        </ul>
        <div class='show-recipe__stagesOfRecipe'>
            <p class='show-recipe__stagesOfRecipe--presentation'>Etapes de la recette : </p>
            <div class='show-recipe__stagesOfRecipe--details'>{{ recipe.stagesOfRecipe| list| raw }}</div>
        </div>
    </main>

    {# <p>Créée le : {{ recipe.createdAt ? recipe.createdAt|date('Y-m-d') : '' }}</p> #}
    <div class='show-recipe-link flex-center'>
        <a class='show-recipe-link__back-user-profil btn' href="{{ path('app_users') }}">Retourner à mon profil</a>
        <a class='show-recipe-link__back-recipes btn' href="{{ path('app_recipes_index') }}">Retourner à la liste des recettes</a>
    </div>

{% endblock %}
