{% extends 'base.html.twig' %}

{% block title %}Nutrisain - Recette {{ recipe.title }}{% endblock %}

{% block body %}
    <main class='show-recipe flex-center card-flux'>
        <img class='show-recipe__image' src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt="{{ recipe.title }}">
        <h1 class='show-recipe__title'>{{ recipe.title }}</h1>
        <p class='show-recipe__description'>{{ recipe.description }}</p>
        <ul class='show-recipe__times flex-center'>
            <li class='show-recipe__times--preparationTime'>Temps de préparation : {{ recipe.preparationTime }}</li>
            <li class='show-recipe__times--preparationStandingTime'>Temps de repos : {{ recipe.preparationStandingTime }}</li>
            <li class='show-recipe__times--cookingTime'>Temps de cuisson : {{ recipe.cookingTime }}</li>
        </ul>
        <div class='show-recipe__ingredients flex-center'>
            <p class='show-recipe__ingredients--presentation'>Ingrédients de la recette : </p>
            <div class='show-recipe__ingredients--details'>{{ recipe.ingredients}}</div>
        </div>
        <div class='show-recipe__stagesOfRecipe'>
            <p class='show-recipe__stagesOfRecipe--presentation'>Etapes de la recette : </p>
            <div class='show-recipe__stagesOfRecipe--details'>{{ recipe.stagesOfRecipe| list| raw }}</div>
        </div>
    </main>

    <div class='recipe-link flex-center'>
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('recipes/_delete_form.html.twig') }}
    {% endif %}
    {% if app.user %}
		{% if not is_granted('ROLE_ADMIN') %}
        <a class='show-recipe-link__back-user-profil btn btn__linear-gradient' href="{{ path('app_users') }}">Retourner à mon profil</a>
        {% endif %}
    {% endif %}
        <a class='show-recipe-link__back-recipes btn btn__linear-gradient' href="{{ path('app_recipes_index') }}">Retourner à la liste des recettes</a>
    </div>

{% endblock %}
