{% extends 'base.html.twig' %}

{% block title %}Nutrisain - Votre profil{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
        <p>{{message}}</p>
    {% endfor %}
    <h1>Bienvenue {{app.user.name}} !</h1>
    <h2>Voici vos informations :</h2>
    <p>Prénom : {{app.user.firstname}}</p>
    <p>email : {{app.user.email}}</p>

    <a href="{{path('app_users_edit')}}">Modifier mes informations</a>
    <a href="#">Modifier mon mot de passe</a>

    <button id="js_user_show_favoriteRecipes_button">Mes recettes préférées</button>
    {% for recipe in app.user.favoriteRecipes %}
        <div class="js_user_favoriteRecipes hide">
            <a href="{{ path('app_recipes_show', {'id': recipe.id})}}">{{recipe.title}}</a>
        </div>
    {% endfor %}

{% endblock %}
